*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

/* Criando variáveis */
:root{
    --purple-200: #474973;
    --purple-500: #161b33;
    --purple-800: #0d0c1d;
 
    --gray-200: #f1dac4;
    --gray-400: #a69cac;
 
    --black-800: #171717;
 
    --white: #F9F9F9;
}

html{
    width: 100%;
    height: 100vh;  /* Ocupa todo espaço disponível view port (mudar de acordo com o dispositivo - desktop, mobile, tablet*/
    scroll-behavior: smooth;    /* Rolagem da tela*/
}

body{
    font-family: Arial, sans-serif;
    background: #F0F2F0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #000C40, #11131a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #000C40, #11131a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button, a{
    cursor: pointer;    /* Muda o Cursor */
}

.botao{
    text-align: center;
    background-color: var(--gray-200);
    color: var(--black-800);
    padding: 12px 32px;
    border: 1px solid var(--purple-800);
    border-radius: 10px;
    font-weight: 700;
}

/* Quando passar o mouse por cima mudar características */
.botao:hover{
    color: var(--white);
    background: var(--purple-500);
}

.botao_sucess{
    margin: auto;
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Estilização - Seção Header (cabeçalho) */

.menu_container{
    height: 80px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--purple-800);
    border-bottom: 1px solid var(--purple-500);
    filter: opacity(0.9);   /* Deixa um pouco transparente*/
}

.menu_container a{
    color: var(--white);
    font-weight: 700;
}

.menu_container a:hover{
    color: var(--gray-400);
}

.menu_content{
    max-width: 1120px;
    padding: 0 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu_list{
    list-style: none;
    text-align: center;
}

.menu_list li{
    margin-left: 1rem;
}


/* Estilização - Seção Home */

.home_container{
    max-width: 1120px;
    margin: 16px auto;
    padding: 0 1rem;
    height: calc(100vh - 100px); /* Deixará visivel na tela somente o home, para não mostrar os outros 'about' (ajustando a altura do elemento 'home'*/
}

.home_container p, h1, h4{
    text-align: center;
    font-size: 1rem;
}

.home_container h1{
    font-size: 2.25rem;
    line-height: 3rem; /* Altura da linha*/
    font-weight: 700;
}

.home_container h4{
    font-weight: 700;
}

.home_container p{
    margin: 1rem 0;
}

.home_container .botao{
    width: 40%;
}

.home_content{
    width: 50vw;
    flex-direction: column;
}

.home_content img{
    display: flex;
    width: 75%;
}

.sucess_container{
    max-width: 1120px;
    margin: auto;
    text-align: center;
    padding: 0 1rem;
    height: calc(100vh - 200px); /* Deixará visivel na tela somente oo home, para não mostrar os outros 'about' (ajustando a altura do elemento 'home'*/
}

.sucess_container h2{
    font-size:xx-large;
    font-weight: 700;
}

.sucess_container h3{
    margin: 0 0 2vh 0;
}


/* Estilização da Seção Home - Página Sucess */

.home_container_sucess {
    height: calc(100vh - 12.5rem);
    max-width: 1120px;
    margin: 1rem auto;
    padding: 0 1rem;
}

.menu_content_sucess{
    margin: auto;
}

#home_sucess {
    width: 50vw;
    flex-direction: column;
}

#home_sucess h1 {
    font-size: 2rem;
    font-weight: 700;
}

#home_sucess h2{
    font-size: 4rem;
}

#home_sucess h4 {
    font-size: 1.25rem;
    padding: 1rem;
}


/* Estilização da Seção Sobre */

.sobre_container {
    max-width: 1120px;
    margin: -1.25rem auto;
    padding: 0 1rem;
    height: 100vh;
}

.sobre_container img {
    width: 30%;
    margin: 1rem;
    border: 5px solid var(--purple-500);
    border-radius: 50%;
}

.sobre_container h2 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 3rem;
    text-align: center;
}

.sobre_container p {
    margin: 1rem 0;
    text-align: center;
}

.sobre_github {
    justify-content: space-evenly;
}

#sobre_texto {
    margin-left: 2rem;
}

/* Estilização da Seção ... */

.contato_container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    max-width: 1120px;
    margin: 4rem auto 2rem;
    padding: 0 2rem;
}

.contato_container h4{
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 700;
}

.contato_content{
    flex-direction: column;
    margin: 4rem 0 0 0;
    font-size: 1.25rem;
}

.contato_content p{
    display: block;
    text-align: justify;
}


/* Estilização da Seção Redes Sociais */

.social_container{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0 0 0;
}

.social_icon{
    width: 6.75rem;
    height: 6.75rem;
    transition: transform 0.3s ease;
}

.social_icon:hover{
    /* O filter é usado apenas para imagens em ".svg" (site usado para gerar esse filtro - https://angel-rs.github.io/css-color-filter-generator/
    filter: brightness(0)
            saturate(100%)
            invert(44%)
            sepia(4%)
            saturate(1621%)
            hue-rotate(314deg)
            brightness(104%)
            contrast(93%);
    */
    transform: scale(1.1);
}


/* Estilização da Seção Form (formulário) */

form{
    display: flex;
    flex-direction: column; /* Configura um abaixo do outro */
    margin: 5rem 0 0 0;
    padding: 1.25rem;
    border: none;
}

form label{
    font-size: 1.25rem;
    text-align: left;
}

form input, textarea{
    width: 100%;
    margin: 0.5rem 0 1rem;
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
}

textarea{
    resize: none;
}

form span{
    margin-bottom: 0.5rem;
    margin-left: 0.75rem;
    font-size: 0.80rem;
    line-height: 1.25rem;
    color: red;
}


/* Estilização da Seção Footer (rodapé) */

footer {
    margin: 0;
    padding: 2rem;
    font-weight: bold;
    text-align: center;
    color: var(--white);
    background-color: var(--purple-500);
    filter: opacity(0.9);
}


/* Modo Responsivo */

/* Smartphone - Telas até 480px */

@media screen and (max-width: 480px){
    
    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main{
        display: flex;
        flex: 1; /* Vai ocupar 100% do espaço */
        flex-direction: column;
    }

    footer{
        margin-top: auto; /* Vai deixar o rodapé sempre lá no final */
    }

    /* Ajustes na Seção Menu */

    .menu_container{
        height: auto;
        padding: 1rem 0;
    }

    .menu_content{
        justify-content: center;
        max-width: 100%;
    }

    #titulo a{
        font-size: 1.75rem;
    }

    .menu_list{
        display: none;  /* Tira o menu (home,  */
    }

    /* Ajustes na Seção Home */

    .home_container{
        flex-direction: column-reverse; /* Configura em coluna (colocando a img acima e texto abaixo) */
        width: 100%;
        height: auto;
        margin-top: 2rem;
    }

    .home_content{
        width: 100%;
    }

    .home_content h1{
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .home_content .botao{
        width: 80%;
    }

    .home_content img{
        width: 80%;
    }

    #home_texto{
        margin-top: 0.5rem;
    }

    #home_imagem{
        margin-bottom: 0;
    }

    /* Ajustes na Seção About (sobre) */

    .sobre_container{
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 3rem;
    }

    .sobre_container img{
        width: 70%;
    }

    .sobre_container h1{
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .sobre_github{
        flex-direction: column;
        gap: 0.5rem;
    }

    .sobre_github p{
        display: none;  /* Tira as informações extras (seguidores e repositórios) */
    }

    .sobre_github .botao{
        width: 80%;
    }

    /* Ajustes na Seção Contato */

    .contato_container{
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
        margin-top: 2rem;
        padding: 0 1rem;
    }

    .contato_content{
        width: 100%;
    }

    .contato_content h4{
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .contato_content p{
        margin: 1rem;
    }

    /* Ajustes na Seção Redes Sociais */

    .social_container{
        justify-content: center;
        width: 100%;
    }

    .social_icon{
        width: 4rem;
        height: 4rem;
    }

    /* Ajustes na Seção Form (formulário) */

    form{
        margin: 1rem 0 0 0;
        padding: 1rem;
    }
}